:root {
    --text-color: #8a8a9a;

    --main1-color: #00e5ff; 
    --shadow1-color: #5cefff; 
    --main1-rgba-color: rgba(0, 229, 255, 0.1);

    --main2-color: rgb(255, 62, 127); 
    --shadow2-color: rgb(250, 78, 137); 
    --main2-rgba-color: rgba(255, 62, 127, 0.1);

    --main3-color: #7b68ee; 
    --shadow3-color: rgb(120, 104, 238); 
    --main3-rgba-color: rgba(123, 104, 238, 0.1);

    --main4-color: #10b981; 
    --shadow4-color: rgb(10, 185, 129); 
    --main4-rgba-color: rgba(16, 185, 129, 0.1);
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px; /* Độ rộng thanh cuộn */
    height: 8px;
}

/* Phần track (nền của thanh cuộn) */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

/* Phần thumb (thanh kéo) */
::-webkit-scrollbar-thumb {
    background: #01aec1;
    border-radius: 6px;
}

/* Khi hover vào thumb */
::-webkit-scrollbar-thumb:hover {
    background: var(--main3-color);
}


.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px; /* Độ dày của thanh */
    width: 0%;
    background: linear-gradient(80deg, #5cefff, #9900ff); /* Gradient màu */
    z-index: 9999; /* Đè lên tất cả */
    transition: width 0.1s ease-out;
}



/* reponsive */
.grid{
    width: 848px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    width: 100%;
}

.grid__column{
    flex: 1;
}

.grid__column-2{
    width: 50%;
}

.grid__column-3{
    width: 33.3334%;
}

/* color */
.color-white{
    color: #fff;
}

.color-1{
 color: var(--main1-color);
}

.color-3{
    color: var(--main3-color);
}

.color-4{
    color: var(--main4-color);
}

/* font */
.font-bold{
    font-weight: bold;
}