/* =================================================================
   NỀN TẢNG (Từ base.css)
   ================================================================= */
:root {
    --text-color: #8a8a9a;

    --main1-color: #00e5ff; 
    --shadow1-color: #5cefff; 
    --main1-rgba-color: rgba(0, 229, 255, 0.1);

    --main2-color: rgb(255, 62, 127); 
    --shadow2-color: rgb(250, 78, 137); 
    --main2-rgba-color: rgba(255, 62, 127, 0.1);

    --main3-color: #7b68ee; 
    --shadow3-color: rgb(120, 104, 238); 
    --main3-rgba-color: rgba(123, 104, 238, 0.1);

    --main4-color: #10b981; 
    --shadow4-color: rgb(10, 185, 129); 
    --main4-rgba-color: rgba(16, 185, 129, 0.1);
}

html{
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25 25 39);
    color: var(--text-color);
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

::selection {
background-color: #00e5ff; /* Màu nền của vùng được chọn */
color: #000;              /* Màu của chữ trong vùng được chọn */
}
/* trình duyệt firefox */
::-moz-selection {
  background-color: var(--main2-color);
  color: white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: #01aec1;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main3-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.progress-bar-custom {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: linear-gradient(80deg, #5cefff, #9900ff);
    z-index: 9999;
    transition: width 0.1s ease-out;
}

.main-container {
    max-width: 848px;
}
/* color */
.color-white{ color: #fff; }
.color-1{ color: var(--main1-color); }
.color-3{ color: var(--main3-color); }
.color-4{ color: var(--main4-color); }

/* =================================================================
   THÀNH PHẦN CHÍNH (Từ main.css)
   ================================================================= */

/* Header */
.header{
    margin-top: 40px;
}

/* 1. Container cho avatar ở header */
.header-avatar-container {
    position: relative;
    width: 85px;  /* Kích thước bằng avatar header gốc */
    height: 85px;
    margin: 8px;  /* Giữ lại margin gốc của avatar */
    flex-shrink: 0; /* Ngăn container bị co lại */
}

/* 2. Style cho avatar header nằm bên trong container */
.header-avatar-container .header__name-avt {
    /* Bỏ margin vì đã đặt ở container cha */
    margin: 0;
    /* Kích thước 100% để vừa với container */
    width: 105%;
    height: 105%;
    border-radius: 50%;
}

/* 3. Style cho khung avatar, đè lên trên */
.header-avatar-container .header-avatar-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Điều chỉnh kích thước khung cho vừa vặn */
    /* Bạn có thể thay đổi giá trị này */
    width: 130%; 
    height: 130%;
    
    pointer-events: none; /* Cho phép click xuyên qua khung */
}

.header__name-group1{
    margin: 0 8px;
}
.header__name-hidden,.header__name-default{
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--main1-color);
    text-shadow: 3px 3px 20px var(--shadow1-color);
}

.header__name-hidden:hover ,.header__name-default:hover{
    background: linear-gradient(80deg, #00ffaa, #7300ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__name-hidden{
    display: none;
}

.header__name-slogan{
    font-size: 1.4rem;
}

.header__name-tags{
    list-style: none;
    display: flex;
    margin: 8px 0 0;
}

.header__name-tag-item1, .header__name-tag-item2, 
.header__name-tag-item3, .header__name-tag-item4{
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem; 
    margin: 2px 4px;
}
.header__name-tag-item1{
    color: var(--main1-color);
    background-color: var(--main1-rgba-color);
    border: 1px solid var(--main1-color);
}
.header__name-tag-item2{
    background-color: var(--main2-rgba-color);
    color: var(--main2-color);
    border: 1px solid var(--main2-color);
}
.header__name-tag-item3{
    background-color: var(--main3-rgba-color);
    color: var(--main3-color);
    border: 1px solid var(--main3-color);
}
.header__name-tag-item4{
    background-color: var(--main4-rgba-color);
    color: var(--main4-color);
    border: 1px solid var(--main4-color);
}

.header__name-socials{
    list-style: none;
    margin: 16px 0;
    display: flex;
}

.header__name-social-item-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 12px;
    transition: transform ease-in .15s, box-shadow ease-in .15s;
    border-radius: 50%;
}

.header__name-social-item-link:hover{
    transform: scale(1.2);
    box-shadow: 0 5px 12px var(--shadow1-color);
}

.header__name-social-item-img{
    width: 100%;
    height: 100%;
}

/* Card box */
.card-box{
    border: 0.3px solid var(--main1-rgba-color);
    padding: 16px;
    border-radius: 10px;
}
.card-box__header{
    display: flex;
    position: relative;
}
.card-box__header--close-card-mini,
.card-box__header--open-card-mini {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--main1-color);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.card-box__header--open-card-mini { display: none; }
.card-box__header--close-card-mini { display: block; }

.card-box__header-icon{
    background-color: var(--main1-rgba-color);
    color: var(--main1-color);
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-right: 4px;
}
.card-box__header-icon svg{ font-size: 1rem; }
.card-box__heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--main1-color);
    margin-left: 4px;
}
.card-box__time{
    display: block;
    margin: 12px 0;
    font-size: 1.3rem;
}

/* BTN card-box */
.card-box__header--close-card-mini {
    position: absolute;
    top: 40%;
    right: 16px;
    transform: translateY(-50%) rotate(0deg); /* Căn giữa dọc và xoay */
    transition: transform 0.3s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main1-color);
    padding: 0; 
    margin: 0;
}

.card-box__header.collapsed .card-box__header--close-card-mini {
    transform: translateY(-50%) rotate(180deg); /* Xoay tại chỗ, giữ vị trí */
}

/* mini card */
.card-box__header--open-card-mini { display: none; }
.card-box__header--close-card-mini { display: block; }


.card-mini1{
    border: 2px solid var(--main1-rgba-color);
    border-top: 5px solid var(--main1-color);
    border-radius: 10px;
    padding: 12px;
    margin: 0 6px 12px 0;
}
.card-mini__header-ul{
    display: flex;
    justify-content: space-between;
    margin: 0 0 8px 0;
    padding-left: 0;
}
.card-mini1__body-num{
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 800;
    color: var(--main1-color);
}
.card-mini__body-desc{ font-size: 1.4rem; }
.card-mini__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.card-mini__footer-heading{ font-size: 1.2rem; }
.card-mini__footer-technologies{
    margin: 30px 0 0 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}
.card-mini__footer-technologies li{
    display: flex;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 24px 0 0;
}
.card-mini__footer-technologies i{ font-size: 1rem; }
.card-mini__footer-technologies span{
    color: var(--text-color);
    margin-left: 2px;
    font-size: 1rem;
    letter-spacing: 1px;
}
.html-icon{ color: #fc490b; }
.css-icon{ color: #2196f3; }
.js-icon{ color: #ffdf00; }
.c-icon{ color: #fff; }
.java-icon{ color: #e84135; }
.card-mini1__footer-num{
    color: var(--main1-color);
    font-size: 1.3rem;
    font-weight: 600;
}
.card-mini2{
    border: 2px solid var(--main2-rgba-color);
    border-top: 5px solid var(--main2-color);
    border-radius: 10px;
    padding: 12px;
    margin: 0 6px 12px 0;
}
.card-mini2__body-num{
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 800;
    color: var(--main2-color);
}
.card-mini2__footer-num{
    color: var(--main2-color);
    font-size: 1.3rem;
    font-weight: 600;
}
.card-mini3{
    border: 2px solid var(--main3-rgba-color);
    border-top: 5px solid var(--main3-color);
    border-radius: 10px;
    padding: 12px;
    margin: 0 0 12px;
}
.card-mini3__body-num{
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 800;
    color: var(--main3-color);
}
.card-mini3__footer-num{
    color: var(--main3-color);
    font-size: 1.3rem;
    font-weight: 600;
}
.card-mini4{
    border: 2px solid var(--main4-rgba-color);
    border-top: 5px solid var(--main4-color);
    border-radius: 10px;
    padding: 12px;
    margin: 0 0 12px;
}
.card-mini4__body-num{
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 800;
    color: var(--main4-color);
}
.card-mini4__footer-num{
    color: var(--main4-color);
    font-size: 1.3rem;
    font-weight: 600;
}

/* quick summary */
.card-box__quick-summary{
    background-color: var(--main3-rgba-color);
    border: 1px solid var(--main3-color);
    border-radius: 5px;
    padding: 12px;
    margin-top: 36px;
}
.quick-summary__heading{
    display: flex;
    align-items: center;
    color: var(--main3-color);
    font-size: 1.6rem;
}
.quick-summary__heading i{ margin-right: 8px; }
.quick-summary__about{
    font-size: 1.5rem;
    margin-bottom: 24px;
}
/* Activity timline */
.activity-timeline{ margin-top: 36px; }
.activity-timeline__header{
    display: flex;
    justify-content: space-between;
    color: var(--main3-color);
    margin-bottom: 8px;
}
.activity-timeline__head{ font-size: 1.6rem; }
.activity-timeline__head-btn{
    background-color: var(--main3-rgba-color);
    color: var(--main3-color);
    border: 1px solid var(--main3-color);
    outline: none;
    padding: 4px 12px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
}
.activity-timeline__body{
    background-color: rgba(120, 104, 238, .05);
    border: 1px solid var(--main3-rgba-color);
    padding: 8px;
    border-radius: 5px;
    height: 80px;
}
.activity-timeline__body svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.activity-timeline__body-text{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/* Content information */
.infor-about, .infor-communities, .infor-projects, .infor-certificates, .infor-devsetup {
    margin: 40px 0 4px 0;
    padding: 4px 4px 4px 16px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.infor-about.is-visible, .infor-communities.is-visible, .infor-projects.is-visible, .infor-certificates.is-visible, .infor-devsetup.is-visible {
    opacity: 1;
    transform: translateY(0);
}
.about-line-left{ position: absolute; top: 0; left: 0; width: 4px; height: 100%; border-radius: 5px; background-color: var(--main2-color); opacity: 0.5; }
.about-title{ display: inline-flex; align-items: center; color: var(--main2-color); font-size: 2.4rem; position: relative; margin-bottom: 8px; }
.about-title i{ font-size: 2rem; margin-right: 6px; }
.about-title__head{ font-weight: bold; }
.about-title__tag{ border: none; margin-left: 12px; padding: 4px ; font-size: 1.2rem; line-height: 1.2rem; text-transform: lowercase; font-weight: bold; }
.about-content__header{ display: flex; justify-content: space-between; align-items: center; width: 100%; height: 80px; }
.about-content__group1{ display: flex; flex: 1; align-items: center; }
.about-content__header-avt{ width: 72px; height: 72px; margin: 4px 12px 4px 4px; border: 2px groove var(--main1-color); border-radius: 50%; object-fit: cover; }
.about-content__heading{ font-size: 2.4rem; border-bottom: 1px dashed var(--main1-color); color: var(--main1-color); }
.about-content__birthday{ font-size: 1.4rem; }
.about-content__btn{ color: var(--main1-color); background-color: var(--main1-rgba-color); border: none; outline: none; border-radius: 20px; padding: 4px 8px; font-size: 1.3rem; margin: 0 8px; height: 30px; cursor: pointer; }
.about-content__btn a{ text-decoration: none; color: var(--main1-color); }
.about-content__preface{ font-size: 1.4rem; margin: 8px 0 0 28px; color: #fff; }
.about-content__container-group1{ margin: 8px 0 0 38px; position: relative; font-size: 1.3rem; }
.about-content__group1-line-left{ position: absolute; top: 0; left: -1rem; width: 1.5px; height: 100%; border-radius: 5px; background-color: var(--main1-color); opacity: 0.5; }
.about-content__desc{ font-size: 1.4rem; margin-top: 16px; color: #fff; }
.about-content__desc span{ color: var(--main1-color); }
.about-content__box{ display: flex; width: 100%; margin: 24px 0; }
.about-content__box-content{ width: 25%; font-size: 1.4rem; font-weight: bold; margin: 0 12px; padding: 8px; border-radius: 5px; transition: transform ease-out.2s; }
.about-content__box-content:hover{ border: 1px solid var(--main1-color); box-shadow: 0 5px 8px var(--main1-color); transform: translateY(-8px); }
.about-content__box-head{ display: flex; justify-content: space-between; }
.about-content__box-head i{ color: var(--main1-color); }
.about-content__box-num{ color: var(--main1-color); font-size: 1.4rem; margin-top: 8px; }

/* Communities infor */
.infor-communities{ margin: 16px 0; padding-bottom: 24px;}
.communities-line-left{ position: absolute; top: 0; left: 0; width: 4px; height: 100%; border-radius: 5px; background-color: var(--main3-color); opacity: 0.5; }
.communities-title__tag{ background-color: var(--main3-rgba-color); color: var(--main3-color); border: none; margin-left: 12px; padding: 4px; font-size: 1.2rem; line-height: 1.2rem; text-transform: lowercase; font-weight: bold; }
.communities-title{ color: var(--main3-color); display: flex; align-items: center; position: relative; margin-bottom: 8px; }
.communities-title__head{ font-size: 2.4rem; font-weight: bold; }
.communities-title i{ font-size: 2rem; margin-right: 6px; }
.communities-content__list{ list-style: none; }
.communities-content__list-item{ border: 1px solid var(--main3-color); border-radius: 5px; padding: 8px; display: flex; flex-wrap: wrap; margin: 8px 0; font-size: 1.4rem; text-align: center; }
.communities-content__list-item a{ text-decoration: none; }
.communities-content__list-item a:hover{ text-decoration: underline; }
.communities-content__list-item i{ margin: 6px; }
.communities-content__list-item i:hover{ color: #fff; }
.communities-content__list-item-content{ text-align: left; }

/* Projects infor */
.infor-projects{ margin: 16px 0; padding-bottom: 24px;}
.projects-line-left{ position: absolute; top: 0; left: 0; width: 4px; height: 100%; border-radius: 5px; background-color: var(--main1-color); opacity: 0.5; }
.projects-title__tag{ background-color: var(--main1-rgba-color); color: var(--main1-color); border: none; margin-left: 12px; padding: 4px; font-size: 1.2rem; line-height: 1.2rem; text-transform: lowercase; font-weight: bold; }
.projects-title{ color: var(--main1-color); display: flex; align-items: center; position: relative; margin-bottom: 8px; }
.projects-title__head{ font-size: 2.4rem; font-weight: bold; }
.projects-title i{ font-size: 2rem; margin-right: 6px; }
.projects-content__list{ font-size: 1.3rem; }
.projects-content__list-item{ margin-left: 12px; font-weight: bold; list-style-type: disc; }

/* certificates infor */
.certificates-line-left{ position: absolute; top: 0; left: 0; height: 100%; width: 4px; border-radius: 3px; background-color: var(--main4-color); opacity: .5; }
.certificates-title{ display: flex; color: var(--main4-color); font-size: 2.4rem; font-weight: bold; align-items: center; }
.certificates-title__head{ margin: 0 12px 0 6px; }
.certificates-title__tag{ border: none; text-transform: lowercase; }
.certificates-content__card{ margin: 16px 16px 0 0; padding: 10px; border: 1px solid var(--main4-rgba-color); border-radius: 5px; transition: transform .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in; }
.certificates-content__card:hover { transform: translateY(-5px); background-color: rgba(255, 255, 255, 0.05); box-shadow: 0 0 3px var(--main4-color); }
.certificates-content__card-head p{ font-size: 2rem; display: flex; align-items: center; }
.certificates-content__card-head span{ display: inline-flex; margin-top: 6px; }
.certificates-content__card-head svg{ background-color: var(--main4-rgba-color); padding: 8px; border-radius: 5px; margin-right: 4px; }
.certificates-content__none{ text-align: center; font-size: 2rem; font-weight: bold; color: var(--main4-color); padding-bottom: 21px; }
.certificates-content{ text-align: center; font-size: 2rem; font-weight: bold; color: var(--main4-color); }
.line-bar{ height: 5px; width: 70%; margin: 12px auto 4px; border-radius: 3px; background: linear-gradient(80deg, #5cefff, #9900ff); }

/* Dev setup infor */
.devsetup-line-left{ position: absolute; top: 0; left: 0; height: 100%; width: 4px; border-radius: 3px; background-color: var(--main3-color); opacity: .5; }
.devsetup-title{ display: flex; align-items: center; font-size: 2.4rem; font-weight: bold; color: var(--main3-color); }
.devsetup-title p{ margin: 0 12px 0 6px; }
.devsetup-title span{ border: none; text-transform: lowercase; font-weight: bold; }
.devsetup-content__card{ margin: 16px 16px 0 0; padding: 10px; border: 1px solid var(--main3-rgba-color); border-radius: 5px; transition: transform .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in; }
.devsetup-content__card:hover{ transform: translateY(-5px); background-color: rgba(255, 255, 255, 0.05); box-shadow: 0 0 3px var(--main3-color); }
.devsetup-content__card-head{ display: flex; align-items: center; font-size: 1.4rem; }
.devsetup-content__card-list{ list-style: none; min-height: 244px; font-size: 1.6rem; }
.devsetup-content__card-item{ display: flex; align-items: self-start; margin: 8px 0; }
.devsetup-content__card-item p:first-child{ display: inline-flex; align-items: center; white-space: nowrap; }
.devsetup-content__card-item p:first-child i{ margin-right: 4px; }
.devsetup-content__card-item p:last-child{ margin-left: 8px; }

/* footer */
.footer{ position: relative; }
.footer-box{ margin: 24px 0; display: flex; justify-content: center; padding: 5px 16px; border: 2px solid var(--main1-rgba-color); border-radius: 5px; }
.footer-box svg{ margin: 0 12px; }
.footer-end{ display: flex; justify-content: space-around; margin: 24px 0; }
.footer-end span{ color: #fff; }
.footer-end p{ font-size: 1.4rem; color: #fff; }
.footer-end span{ font-size: 1.3rem; color: var(--main1-color); }
.footer__name-tag-item{ background-color: var(--main1-rgba-color); color: var(--main1-color); border: 1px solid var(--main1-color); border-radius: 20px; padding: 0 12px; text-align: center; }
.footer-end__btn{ position: fixed; bottom: 100px; right: 50px; }

/* Music */
.play-audio-btn {
    background-color: var(--main1-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 20px;
    box-shadow: 0 0px 10px var(--shadow1-color);
    z-index: 1000;
}
.play-audio-btn:hover { background-color: var(--shadow1-color); }


/* =================================================================
   REPONSIVE (Từ reponsive.css)
   ================================================================= */
@media (max-width: 767.98px) {
    .header__name-tags{
        flex-wrap: wrap;
    }
    .card-box{
        margin: 8px 12px;
    }
    .card-mini__footer-technologies{
        display: block;
    }
    .card-mini__footer-technologies li{
        margin-top: 8px;
    }
    .about-content__header{
        margin-top: 24px;
        flex-direction: column;
    }
    .about-content__container{
        margin-top: 32px;
    }
    .play-audio-btn {
        bottom: 60px;
        right: 20px;
    }
}